.container-addProduct {
    background: #eef2f6;
    border-radius: 15px;
    overflow: hidden;
    display: block;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin:  60px 45px 60px 45px;
}

.new-product{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

#url-image {
    text-align: left;
    height: 40px;
    width: 90%;
    font-size: calc((.45em + .45vw));
    line-height: 1.5;
    background: #f2caf2;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: .8em;
    margin: .8em;
    border: 10px;
    display: block;
    align-content: center;

}

#name-product {
    text-align: left;
    height: 40%;
    width: 60%;
    font-size: calc((.45em + .45vw));
    line-height: 1.5;
    background: #f2caf2;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: .8em;
    margin: .8em;
    border: 10px;
    display: block;
    align-content: center;

}

#description-product {
    text-align: left;
    height: 120%;
    width: 90%;
    font-size: calc((.45em + .45vw));
    line-height: 1.5;
    background: #f2caf2;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 4em;
    margin: 1em;
    border: 10px;
    display: block;
    align-content: center;
}

#price-product {
    text-align: left;
    height: 40%;
    width: 30%;
    font-size: calc((.45em + .45vw));
    line-height: 1.5;
    background: #f2caf2;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: .8em;
    margin: .8em;
    border: 10px;
    display: block;
    align-content: center;
}

.container-image {
    background: #eef2f6;
    border-radius: 15px;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    margin:  60px 45px 60px 45px;
}

.category {
    text-align: center;
    font-weight: bold;
}