.col{
    background: #F2CAC8;
    width: 230px;
    height: 416px;
    left: 383px;
    top: 607px;
    margin: 2px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    

}

#containerBestSellers .align-items-left{
background: black;
font-size: 23px;
color: white;
border: 1px solid white;  
border-radius: 15px;
transition: 0.5s;  

}

#containerBestSellers .col-6{
    background-color: #F2CAC8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


#containerBestSellers .align-items-left:active{
    transform: scale(0.8);
}

#containerBestSellers p, .col-8{
    font-size: 25px;
}
#precioMasVendido1{
    border-radius: 5px;
    background-color:#eef2f6;
    color: #6F6CB8;
}

.productsImage{
    max-height: 200px;
    max-width: auto;
 }
/* !important; */
/* Estos estilos no se estan sando */
/* .prueba h3{
    font-size: 20px;
    text-align: center;

}

.prueba{
    text-align: center;
   
   

   
}

.prueba button{
    position: relative;
    right: 100px;
    background: black;
    color: white;
    font-weight: 900;
    transition: 0.5s all;


}

.prueba button:hover{
    transform: scale(1.20);
}

.prueba img{
    justify-content: center;
    margin-top: 5px;
}

.prueba .precio{
    display: inline-block;
    position: relative;
    left: 4em;
} */



