
.contact-title {
    text-align: center;
    font-size: calc((1em + 1vw));
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

.input1 {
    text-align: left;
    font-size: calc((.4em + .3vw));
    background: #f2caf2;
    font-family: 'Montserrat', sans-serif;
    height: 110%;
    width: 40%;
    border-radius: 15px;
    padding: .8em;
    margin: .8em;
    border: 10px;
    margin:  5px;

}

.input1-message {
    text-align: left;
    height: 130px;
    width: 90%;
    font-size: calc((.45em + .45vw));
    line-height: 1.5;
    background: #f2caf2;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    padding: .8em;
    margin: .8em;
    border: 10px;
    display: block;
    align-content: center;

}


.container-contact1 {
    background: #eef2f6;
    border-radius: 15px;
    overflow: hidden;
    display: block;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 40px 80px 88px 90px;
    margin:  100px 60px 80px 90px;
}

.container-contact1-form-btn {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contact1-form-btn {
    font-family: 'Montserrat', sans-serif;
    background: #E61050;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1em;
    height: 50px;
    width: 110px;

}

.img-fluid {
    border-radius: 25px;
    place-content: center;
    margin: 25px;
    object-fit: cover;
    object-position: bottom;
}