.contact-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

.input1 {
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
    background: #f2caf2;
    font-family: 'Montserrat', sans-serif;
    height: 35px;
    width: auto;
    border-radius: 25px;
    padding: 0px 30px;
    border: 10px;
    margin:  5px;

}


textarea.input1 {
    height: 200px;
    width: 500px;
    border-radius: 25px;
    padding: 12px 30px;
    border: 10px;
    margin:  5px;
}

.container-contact1 {
    width: 1163px;
    background: #eef2f6;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 90px 80px 88px 90px;
    margin:  90px;
}

.container-contact1-form-btn {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    font-family: 'Montserrat', sans-serif;
    background: #E61050;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: .9em;
    height: 40px;
    width: 100px;

}


