<<<<<<< HEAD
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?8nm2lr');
    src:  url('fonts/icomoon.eot?8nm2lr#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?8nm2lr') format('truetype'),
      url('fonts/icomoon.woff?8nm2lr') format('woff'),
      url('fonts/icomoon.svg?8nm2lr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook1:before {
    content: "\e900";
    color: #1877f2;
  }
  .icon-twitter1:before {
    content: "\e901";
    color: #1da1f2;
  }
  .icon-whatsapp1:before {
    content: "\e902";
    color: #25d366;
  }
  .icon-youtube1:before {
    content: "\e903";
    color: #f00;
  }
  .icon-home:before {
    content: "\e904";
  }
  .icon-pencil:before {
    content: "\e905";
  }
  .icon-image:before {
    content: "\e90d";
  }
  .icon-images:before {
    content: "\e90e";
  }
  .icon-camera:before {
    content: "\e90f";
  }
  .icon-play:before {
    content: "\e912";
  }
  .icon-profile:before {
    content: "\e923";
  }
  .icon-file-picture:before {
    content: "\e927";
  }
  .icon-folder-download:before {
    content: "\e933";
  }
  .icon-folder-upload:before {
    content: "\e934";
  }
  .icon-price-tag:before {
    content: "\e935";
  }
  .icon-price-tags:before {
    content: "\e936";
  }
  .icon-barcode:before {
    content: "\e937";
  }
  .icon-qrcode:before {
    content: "\e938";
  }
  .icon-ticket:before {
    content: "\e939";
  }
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-coin-dollar:before {
    content: "\e93b";
  }
  .icon-credit-card:before {
    content: "\e93f";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-address-book:before {
    content: "\e944";
  }
  .icon-envelop:before {
    content: "\e945";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-location2:before {
    content: "\e948";
  }
  .icon-compass:before {
    content: "\e949";
  }
  .icon-clock:before {
    content: "\e94e";
  }
  .icon-display:before {
    content: "\e956";
  }
  .icon-mobile:before {
    content: "\e958";
  }
  .icon-tablet:before {
    content: "\e95a";
  }
  .icon-floppy-disk:before {
    content: "\e962";
  }
  .icon-undo2:before {
    content: "\e967";
  }
  .icon-redo2:before {
    content: "\e968";
  }
  .icon-bubble:before {
    content: "\e96b";
  }
  .icon-bubbles:before {
    content: "\e96c";
  }
  .icon-user:before {
    content: "\e971";
  }
  .icon-user-plus:before {
    content: "\e973";
  }
  .icon-user-check:before {
    content: "\e975";
  }
  .icon-spinner3:before {
    content: "\e97c";
  }
  .icon-spinner11:before {
    content: "\e984";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-zoom-in:before {
    content: "\e987";
  }
  .icon-zoom-out:before {
    content: "\e988";
  }
  .icon-enlarge:before {
    content: "\e989";
  }
  .icon-shrink:before {
    content: "\e98a";
  }
  .icon-enlarge2:before {
    content: "\e98b";
  }
  .icon-shrink2:before {
    content: "\e98c";
  }
  .icon-key:before {
    content: "\e98d";
  }
  .icon-equalizer:before {
    content: "\e992";
  }
  .icon-cog:before {
    content: "\e994";
  }
  .icon-rocket:before {
    content: "\e9a5";
  }
  .icon-bin:before {
    content: "\e9ac";
  }
  .icon-truck:before {
    content: "\e9b0";
  }
  .icon-power:before {
    content: "\e9b5";
  }
  .icon-switch:before {
    content: "\e9b6";
  }
  .icon-list2:before {
    content: "\e9bb";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-menu2:before {
    content: "\e9be";
  }
  .icon-menu3:before {
    content: "\e9bf";
  }
  .icon-menu4:before {
    content: "\e9c0";
  }
  .icon-attachment:before {
    content: "\e9cd";
  }
  .icon-bookmark:before {
    content: "\e9d2";
  }
  .icon-bookmarks:before {
    content: "\e9d3";
  }
  .icon-star-empty:before {
    content: "\e9d7";
  }
  .icon-star-full:before {
    content: "\e9d9";
  }
  .icon-smile:before {
    content: "\e9e1";
  }
  .icon-sad:before {
    content: "\e9e5";
  }
  .icon-warning:before {
    content: "\ea07";
  }
  .icon-plus:before {
    content: "\ea0a";
  }
  .icon-minus:before {
    content: "\ea0b";
  }
  .icon-info:before {
    content: "\ea0c";
  }
  .icon-checkmark:before {
    content: "\ea10";
  }
  .icon-enter:before {
    content: "\ea13";
  }
  .icon-exit:before {
    content: "\ea14";
  }
  .icon-loop2:before {
    content: "\ea2e";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-circle-right:before {
    content: "\ea42";
  }
  .icon-circle-left:before {
    content: "\ea44";
  }
  .icon-filter:before {
    content: "\ea5b";
  }
  .icon-table:before {
    content: "\ea70";
  }
  .icon-embed:before {
    content: "\ea7f";
  }
  .icon-share2:before {
    content: "\ea82";
  }
  .icon-mail2:before {
    content: "\ea84";
  }
  .icon-amazon:before {
    content: "\ea87";
  }
  .icon-google:before {
    content: "\ea88";
  }
  .icon-hangouts:before {
    content: "\ea8e";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-telegram:before {
    content: "\ea95";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-youtube2:before {
    content: "\ea9e";
  }
  .icon-dropbox:before {
    content: "\eaae";
  }
  .icon-android:before {
    content: "\eac0";
  }
  .icon-windows8:before {
    content: "\eac2";
  }
  .icon-chrome:before {
    content: "\ead9";
  }
  .icon-IE:before {
    content: "\eadb";
  }
  .icon-file-pdf:before {
    content: "\eadf";
  }
=======
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?8nm2lr');
    src:  url('fonts/icomoon.eot?8nm2lr#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?8nm2lr') format('truetype'),
      url('fonts/icomoon.woff?8nm2lr') format('woff'),
      url('fonts/icomoon.svg?8nm2lr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook1:before {
    content: "\e900";
    color: #1877f2;
  }
  .icon-twitter1:before {
    content: "\e901";
    color: #1da1f2;
  }
  .icon-whatsapp1:before {
    content: "\e902";
    color: #25d366;
  }
  .icon-youtube1:before {
    content: "\e903";
    color: #f00;
  }
  .icon-home:before {
    content: "\e904";
  }
  .icon-pencil:before {
    content: "\e905";
  }
  .icon-image:before {
    content: "\e90d";
  }
  .icon-images:before {
    content: "\e90e";
  }
  .icon-camera:before {
    content: "\e90f";
  }
  .icon-play:before {
    content: "\e912";
  }
  .icon-profile:before {
    content: "\e923";
  }
  .icon-file-picture:before {
    content: "\e927";
  }
  .icon-folder-download:before {
    content: "\e933";
  }
  .icon-folder-upload:before {
    content: "\e934";
  }
  .icon-price-tag:before {
    content: "\e935";
  }
  .icon-price-tags:before {
    content: "\e936";
  }
  .icon-barcode:before {
    content: "\e937";
  }
  .icon-qrcode:before {
    content: "\e938";
  }
  .icon-ticket:before {
    content: "\e939";
  }
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-coin-dollar:before {
    content: "\e93b";
  }
  .icon-credit-card:before {
    content: "\e93f";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-address-book:before {
    content: "\e944";
  }
  .icon-envelop:before {
    content: "\e945";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-location2:before {
    content: "\e948";
  }
  .icon-compass:before {
    content: "\e949";
  }
  .icon-clock:before {
    content: "\e94e";
  }
  .icon-display:before {
    content: "\e956";
  }
  .icon-mobile:before {
    content: "\e958";
  }
  .icon-tablet:before {
    content: "\e95a";
  }
  .icon-floppy-disk:before {
    content: "\e962";
  }
  .icon-undo2:before {
    content: "\e967";
  }
  .icon-redo2:before {
    content: "\e968";
  }
  .icon-bubble:before {
    content: "\e96b";
  }
  .icon-bubbles:before {
    content: "\e96c";
  }
  .icon-user:before {
    content: "\e971";
  }
  .icon-user-plus:before {
    content: "\e973";
  }
  .icon-user-check:before {
    content: "\e975";
  }
  .icon-spinner3:before {
    content: "\e97c";
  }
  .icon-spinner11:before {
    content: "\e984";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-zoom-in:before {
    content: "\e987";
  }
  .icon-zoom-out:before {
    content: "\e988";
  }
  .icon-enlarge:before {
    content: "\e989";
  }
  .icon-shrink:before {
    content: "\e98a";
  }
  .icon-enlarge2:before {
    content: "\e98b";
  }
  .icon-shrink2:before {
    content: "\e98c";
  }
  .icon-key:before {
    content: "\e98d";
  }
  .icon-equalizer:before {
    content: "\e992";
  }
  .icon-cog:before {
    content: "\e994";
  }
  .icon-rocket:before {
    content: "\e9a5";
  }
  .icon-bin:before {
    content: "\e9ac";
  }
  .icon-truck:before {
    content: "\e9b0";
  }
  .icon-power:before {
    content: "\e9b5";
  }
  .icon-switch:before {
    content: "\e9b6";
  }
  .icon-list2:before {
    content: "\e9bb";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-menu2:before {
    content: "\e9be";
  }
  .icon-menu3:before {
    content: "\e9bf";
  }
  .icon-menu4:before {
    content: "\e9c0";
  }
  .icon-attachment:before {
    content: "\e9cd";
  }
  .icon-bookmark:before {
    content: "\e9d2";
  }
  .icon-bookmarks:before {
    content: "\e9d3";
  }
  .icon-star-empty:before {
    content: "\e9d7";
  }
  .icon-star-full:before {
    content: "\e9d9";
  }
  .icon-smile:before {
    content: "\e9e1";
  }
  .icon-sad:before {
    content: "\e9e5";
  }
  .icon-warning:before {
    content: "\ea07";
  }
  .icon-plus:before {
    content: "\ea0a";
  }
  .icon-minus:before {
    content: "\ea0b";
  }
  .icon-info:before {
    content: "\ea0c";
  }
  .icon-checkmark:before {
    content: "\ea10";
  }
  .icon-enter:before {
    content: "\ea13";
  }
  .icon-exit:before {
    content: "\ea14";
  }
  .icon-loop2:before {
    content: "\ea2e";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-circle-right:before {
    content: "\ea42";
  }
  .icon-circle-left:before {
    content: "\ea44";
  }
  .icon-filter:before {
    content: "\ea5b";
  }
  .icon-table:before {
    content: "\ea70";
  }
  .icon-embed:before {
    content: "\ea7f";
  }
  .icon-share2:before {
    content: "\ea82";
  }
  .icon-mail2:before {
    content: "\ea84";
  }
  .icon-amazon:before {
    content: "\ea87";
  }
  .icon-google:before {
    content: "\ea88";
  }
  .icon-hangouts:before {
    content: "\ea8e";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-telegram:before {
    content: "\ea95";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-youtube2:before {
    content: "\ea9e";
  }
  .icon-dropbox:before {
    content: "\eaae";
  }
  .icon-android:before {
    content: "\eac0";
  }
  .icon-windows8:before {
    content: "\eac2";
  }
  .icon-chrome:before {
    content: "\ead9";
  }
  .icon-IE:before {
    content: "\eadb";
  }
  .icon-file-pdf:before {
    content: "\eadf";
  }
>>>>>>> 2df351015f486e2d99e7e6f53517c635fafa0d0a
  