html{
    background: white;
} 

header{
    background: #6F6CB8;
    padding: 3px;
}


body{
    background: url(./Fondo\ nubes.svg)
 }

.logo{
width: 200px;
height: auto;

}



.avatares{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

<<<<<<< HEAD
header{
    background: #6F6CB8;
}
=======
>>>>>>> 699dfbca64333f528ff3e1a368b964411b211230
