html{
    background: none;
} 

header,footer{
    background: #6F6CB8;
    padding: 3px;
}


body{
    background: url(./Fondo\ nubes.svg)
 }



.titulo{
    margin-top: 10px;
}

.logo{
width: 200px;
height: auto;

}



.avatares{
    width: 100px;
    height: auto;
    border-radius: 50%;
}



.prueba{
    position: relative;
    right: 100px;
}

.btn{
    background-color: #E61050 !important;
}

.drop{
    background-color: #E61050 !important;
}

.drop li a{
    color:white !important;
} 

.bi-microsoft:active {
    fill: #E61050 !important; /* Aqui puedes poner el color que desees */
  }


.QuienesSomos{
    width: 63.688em;
    height: 26.525em;
    left: 12.625em;
    top: 12.125em;
    background: #EEF2F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 1.5em auto;
    text-align: center;
}

.nosotros{
    width: 916.66px;
    height: 66.89px;
    left: 252.08px;
    top: 287.65px;
    margin: 3em 3em;
    background: #F2C9C8;
    border-radius: 6px;
    
}

.nosotros:hover{
    border: 1px solid black;
}
<<<<<<< HEAD
.colaboradores{
width: 1019px;
height: 594px;
left: 202px;
top: 752px;
margin: 10em 7.5em;
background: #EEF2F6;
border-radius: 20px;
}

.colaboradores li{
    display: inline-block;
}

.logoFooter{
    width: 200px;
    height: auto;
    text-align: center;
=======


footer{
    width: 100%;
    background: #6F6CB8;
    color: white;
    text-align: center;
    z-index: 90;
    height: 150px;
    position: fixed;
    bottom: -140px;
    transition-duration: 0.4s;
}
footer:hover{
    bottom: 0px;
}
footer:after{
    content: "\ea42";
    font-family: 'icomoon';
    position: absolute;
    top: 0px;
    width: 100px;
    margin-left: -40px;
    margin-top: -45px;
    border-radius: 50%;
    background: #E61050;
    color: white;
    transform: rotate(-90deg);
    font-size: 4.3em;
    transition-duration: 0.4s;
}
footer:hover:after{
    transform: rotate(90deg);
    background:  white;
    color:  #E61050;

}


footer .rrss a{
    text-align: center;
    width: 40px;
    height: 40px;
    bottom: -45px;
    margin: 20px;
    position: relative;
    display: inline-block;
}
footer .rrss a:before{
    color: white;
    border: 1px solid white;
    background-color: #E61050;
    position: absolute;
    border-radius: 50%;
    font-size: 2.5em;
    height: 60px;
    width: 60px;

    text-align: center;
    font-family: 'icomoon';
}
footer .rrss a:nth-child(1):before{
    content: "\e901";
}
footer .rrss a:nth-child(2):before{
    content: "\e900";
}
footer .rrss a:nth-child(3):before{
    content: "\e902";
}
footer .rrss a:nth-child(4):before{
    content: "\ea92";
}
footer p{
    font-size: 0.9em;
    font-weight: lighter;
    font-family: 'Arvo';
    text-align: center;
    margin: 42px;
>>>>>>> b452a277488c9178eca687c708af9914225af4fb
}