html{
    background: none;
} 

header,footer{
    background: #6F6CB8;
    padding: 3px;
}


body{
    background: url(./Fondo\ nubes.svg)
 }



.titulo{
    margin-top: 10px;
}

.logo{
width: 200px;
height: auto;

}



.avatares{
    width: 100px;
    height: auto;
    border-radius: 50%;
}



.prueba{
    position: relative;
    right: 20px;
}

.btn{
    background-color: #E61050 !important;
}

.drop{
    background-color: #E61050 !important;
}

.drop li a{
    color:white !important;
} 

.bi-microsoft:active {
    fill: #E61050 !important; /* Aqui puedes poner el color que desees */
  }


.QuienesSomos{
    width: 63.688em;
    height: 26.525em;
    left: 12.625em;
    top: 12.125em;
    background: #EEF2F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 1.5em auto;
    text-align: center;
}

.nosotros{
    
    width: 916.66px;
    height: 66.89px;
    left: 252.08px;
    top: 287.65px;
    margin: 1.5em 3em;
    background: #F2C9C8;
    border-radius: 6px;

    
}
.nosotros p{
    text-align: center;
}

.nosotros:hover{
    border: 1px solid #6F6CB8;
}
.colaboradores{
width: 1019px;
height: 594px;
left: 202px;
top: 752px;
margin: 10em 7.5em;
background: #EEF2F6;
border-radius: 20px;
}

.colaboradores li{
    display: inline-block;
}

.logoFooter{
    width: 200px;
    height: auto;
    text-align: center;
}

.descripcionQuien{
    margin-top: -20px;
}

.nosotros .p{
    text-align: center;
}

.tituloSeccion{
    text-align: start;
    margin-left: 1.6em;
    margin-bottom: -20px;
}

footer{
    margin-top: 100em;
}
